body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #111;
  color: #fff;
}

header {
  padding: 10px;
  background: #222;
  text-align: center;
}

.zone {
  padding: 10px;
  border-top: 1px solid #333;
}

.flight-card {
  border: 1px solid #555;
  padding: 10px;
  margin: 10px 0;
  background: #222;
  border-radius: 8px;
}
